[submodule "themes/CodeIT"]
	path = themes/CodeIT
	url = https://github.com/sunt-programator/CodeIT.git
[submodule "content/external/iaac-aro"]
	path = content/external/iaac-aro
	url = https://github.com/pajikos/iaac-aro.git
