[submodule "themes/CodeIT"]
	path = themes/CodeIT
	url = https://github.com/sunt-programator/CodeIT.git
[submodule "content/cloud-samples"]
	path = content/cloud-samples
	url = https://github.com/pajikos/cloud-samples.git
